.header{
    background-color: #070d1b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    color: #fdfeff;
    padding-right: 40px;
    position: sticky;
    top:0;
    z-index: 6;
}
