.skillsBlock{
    background-color: #0a101e;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fec544;
    letter-spacing: 1px;
}

.skills{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px 200px;
}