.mainBlock {
    background-color: #070d1b;
    height: 100vh;
}

.text {
    min-width: 300px;
    color: #fdfeff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
}

.img {
    border: 1px solid;
    width: 300px;
    height: 400px;
    background-color: white;
}

.img img {
    width: 300px;
}

.text h1 {
    font-size: 60px;
    font-weight: 600;
}

.text span {
    color: #a9adb8;
}

.text h1 span {
    color: #fec544;;
}