.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;


}

.nav a {
    text-decoration: none;
    font-size: 15px;
    color: #fdfeff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.nav a:hover{
    color: #fec544;
}