.footer{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.footerImgContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    border: 1px solid;
    margin: 40px;
}
.footerImg{
    width: 60px;
    height: 60px;
    background-color: gray;
}