.projectsBlock{
    background-color: blueviolet;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: whitesmoke;
}

.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}